* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    line-height: 1.6; 
    color: #333;
    background-color: #f4f4f4; 
}
.header {
    background-color: #333; 
    color: white;
    padding: 1rem;
    text-align: center;
}

.welcome-section h1 {
    margin-bottom: 0.5rem;
}

.section, .random {
    padding: 1rem;
    margin: 1rem auto;
    width: 80%; 
    max-width: 1200px;
}

.random {
    background-color: #e7e7e7; 
    border: 2px solid #333;
    border-radius: 8px; 
};
.block {
    display: block;
    width: 90%; 
    margin: 1rem auto;
    border: 2px solid #333;
    background-color: #4CAF50; 
    color: white;
    padding: 0.75rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.block:hover {
    background-color: #367B3F; 
}
@media only screen and (max-width: 768px) {
    .section, .random {
        width: 95%;
    }

    .block {
        width: 95%; 
    }
}
