*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
}
.welcome-section > h1{
     color:black;
      font-family: "Roboto Mono", monospace;
    text-align: center;
}
.section{
    color:azure;
    background-color: black;
    background-size: stretch;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}
#intro{
    font-size: 55px;
            }
.random{
color: black;
background-color: azure; 
background-size: stretch;
height:auto;
width: auto;
text-transform: uppercase; /* Make letters uppercase */
    text-align: center;
    
}
.block {
  display: block;
  width: 100%;
  border: 6px solid black;
  background-color: azure;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
